<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")
    @Styles.Render("~/css/fontAwesome")
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Indie+Flower|Lobster|Poiret+One' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("~/Views/Shared/Back_end/Headers/Header_admin.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/Back_end/Footers/Footer_admin.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/script/bootstrap")
    @RenderSection("scripts_admin", required: true)
</body>
</html>