<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")
    @Styles.Render("~/css/fontAwesome")
    <link href='https://fonts.googleapis.com/css?family=Allerta+Stencil|Michroma|Seymour+One' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("~/Views/Shared/Front_end/Headers/header.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/Front_end/Footers/footer.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/script/bootstrap")
    @RenderSection("scripts", required: true)
</body>
</html>
